{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>



    <section data-template="account" class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-5 mx-auto text-center">
                    <div id="accountTabs" data-account-tabs="">
                        <ul role="tablist" class="nav nav-pills justify-content-center">
                            <li class="nav-item">
                                <a href="/accounts/login" class="nav-link active">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/accounts/signup/" class="nav-link">Create Account</a>
                            </li>
                        </ul>

                        <div >
                            <div class="pt-5">
                                <div id="customerRegisterForm">
                                    <form method="post" action="{% url 'account_signup' %}" id="create_customer" accept-charset="UTF-8">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>

                                        <input type="hidden" name="form_type" value="create_customer">
                                        <input type="hidden" name="utf8" value="✓">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <label for="registerCustomerFirstName" class="input-group-text">
                                                    <i class="material-icons">person</i>
                                                </label>
                                            </div>
                                            <input type="text" id="registerCustomerFirstName"
                                                   name="customer[first_name]" aria-label="first name"
                                                   placeholder="First Name" required="required"
                                                   class="form-control ">
                                            <input type="text" id="customerLastName"
                                                   name="customer[last_name]"
                                                   aria-label="last name"
                                                   placeholder="Last Name"
                                                   required="required"
                                                   class="form-control border-left-0">
                                        </div>
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <label for="registerCustomerEmail" class="input-group-text">
                                                    <i class="material-icons">mail</i>
                                                </label>
                                            </div>
                                            <input type="email" id="registerCustomerEmail" name="customer[email]"
                                                   aria-label="email" placeholder="Email" autocorrect="off"
                                                   autocapitalize="off" required="required" class="form-control ">
                                        </div>
                                        <div class="form-group input-group pass-strength-visible">
                                            <div class="input-group-prepend"><label for="registerCustomerPassword"
                                                                                    class="input-group-text"><i
                                                    class="material-icons">fingerprint</i></label></div>
                                            <input type="password" id="registerCustomerPassword"
                                                   data-password-input="" name="customer[password]"
                                                   aria-label="password" placeholder="Password" required="required"
                                                   class="form-control ">
                                            <div class="pass-wrapper" style="">
                                                <div class="pass-graybar">
                                                    <div class="pass-colorbar"
                                                         style="background-position: 0px -75px; width: 75%;"></div>
                                                </div>
                                                <span class="pass-text">Strong password</span></div>
                                        </div>
                                        <div class="form-check mb-4">
                                            <label class="form-check-label">
                                                <input type="checkbox" name="customer[accepts_marketing]"
                                                       aria-label="newsletter subscription" checked="checked"
                                                       class="form-check-input">
                                                <input type="hidden" name="customer[accepts_marketing]" value="">
                                                <span class="small">Subscribe to stay updated with new products and offers!</span>
                                            </label>
                                        </div>
                                        <input type="submit" value="Create" class="btn btn-primary btn-block">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
